/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-width : 399px) {
    .media-1100{display: none; }
    .media-1300{display:none;}
    .logo{display:none;}
    .logomark{height:50px}
    .neau{padding-left:5px;padding-right:5px; box-shadow:none; background:transparent;margin-left:2px;margin-right:2px;}
    .lead{font-size:16px;}
    .note{font-size: 12px}
    section{width:100%;
        transform:skew(0deg,0deg);
    margin-left:0px;margin-right:0px;}
        .section-logo,.section-category,.lead{  transform:skew(0deg,0deg);}
        .section-category, .section-logo,.lead, .note, button{padding: 6px 9px;}
        section{  padding: 10px 15px;
            margin: 10px 15px}
            .bg{padding:0 0 0 0;}

            .astrogate{background: url('../img/astrogate_bg_blur.jpg') no-repeat center center;}
            .blightworld{background: url('../img/blightworld_bg.jpg') no-repeat center center;}
            .eraflux{background: url('../img/eraflux_bg.jpg') no-repeat center center;}
            .honeytoast{background: url('../img/honeytoast_bg.jpg') no-repeat center center;}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 400px) 
and (max-width : 599px) {
    .media-1100{display: none;}
    .media-1300{display:none;}
    .logo{display:none;}
    .logomark{height:50px}
    .neau{padding-left:5px;padding-right:5px; box-shadow:none; background:transparent;margin-left:2px;margin-right:2px;}
    .lead{font-size:16px;}
    .note{font-size: 12px}
    section{width:100%;
        transform:skew(0deg,0deg);
    margin-left:0px;margin-right:0px;}
    .section-logo,.section-category,.lead{  transform:skew(0deg,0deg);}
    .section-category, .section-logo,.lead, .note, section, button{padding: 6px 9px;}
    section{  padding: 20px 30px;
        margin: 20px 30px;}
    .bg{padding-left:10px; padding-right:10px;}

    .astrogate{background: url('../img/astrogate_bg_blur.jpg') no-repeat center center;}
    .blightworld{background: url('../img/blightworld_bg.jpg') no-repeat center center;}
    .eraflux{background: url('../img/eraflux_bg.jpg') no-repeat center center;}
    .honeytoast{background: url('../img/honeytoast_bg.jpg') no-repeat center center;}
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 600px) 
and (max-width : 899px) {
    .media-1300{display:none;}
    .logo{display:none;}
    .logomark{height:50px}
    .lead{font-size:18px;}
    section{width:100%;
        transform:skew(0deg,0deg);
    margin-left:0px;margin-right:0px;}
    .section-logo,.section-category,.lead{  transform:skew(0deg,0deg);}
    section{  padding: 30px 45px;}

    .astrogate{background: url('../img/astrogate_bg_blur.jpg') no-repeat center center;}
    .blightworld{background: url('../img/blightworld_bg.jpg') no-repeat center center;}
    .eraflux{background: url('../img/eraflux_bg.jpg') no-repeat center center;}
    .honeytoast{background: url('../img/honeytoast_bg.jpg') no-repeat center center;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 900px) 
and (max-width : 1099px) {
    .media-1300{display:none;}
    .logo{height:50px;}
    .logomark{display:none;}
    .lead{font-size:18px;}
    section{width:70%;}

    .bg{transition: all 0.3s ease-out;}

    .bg:hover{transform:scale(1.02);transition: all 0.8s ease-out;}

    .astrogate{background: url('../img/astrogate_bg_blur.jpg') no-repeat center center;}
    .astrogate:hover{background: url('../img/astrogate_bg.jpg') no-repeat center center;}
    
        .blightworld{background: url('../img/blightworld_bg_blur.jpg') no-repeat center center;}
        .blightworld:hover{background: url('../img/blightworld_bg.jpg') no-repeat center center;}
    
        .eraflux{background: url('../img/eraflux_bg_blur.jpg') no-repeat center center;}
        .eraflux:hover{background: url('../img/eraflux_bg.jpg') no-repeat center center;}
    
        .honeytoast{background: url('../img/honeytoast_bg_blur.jpg') no-repeat center center;}
        .honeytoast:hover{background: url('../img/honeytoast_bg.jpg') no-repeat center center;}

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 1100px) 
and (max-width : 1299px) {
.media-1300{display:none;}
    .logo{height:60px;}
    .logomark{display:none;}
    .lead{font-size:20px;}
    section{width:60%;}

    .bg{transition: all 0.3s ease-out;}

    .bg:hover{transform:scale(1.02);transition: all 0.8s ease-out;}

    .astrogate{background: url('../img/astrogate_bg_blur.jpg') no-repeat center center;}
    .astrogate:hover{background: url('../img/astrogate_bg.jpg') no-repeat center center;}
    
        .blightworld{background: url('../img/blightworld_bg_blur.jpg') no-repeat center center;}
        .blightworld:hover{background: url('../img/blightworld_bg.jpg') no-repeat center center;}
    
        .eraflux{background: url('../img/eraflux_bg_blur.jpg') no-repeat center center;}
        .eraflux:hover{background: url('../img/eraflux_bg.jpg') no-repeat center center;}
    
        .honeytoast{background: url('../img/honeytoast_bg_blur.jpg') no-repeat center center;}
        .honeytoast:hover{background: url('../img/honeytoast_bg.jpg') no-repeat center center;}

}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 1300px) 
and (max-width : 1499px) {
    .media-1100{display:none;}
    .logomark{display:none;}
    .lead{font-size: 20px;}

    .bg{transition: all 0.3s ease-out;}

    .bg:hover{transform:scale(1.02);transition: all 0.8s ease-out;}

    .astrogate{background: url('../img/astrogate_bg_blur.jpg') no-repeat center center;}
    .astrogate:hover{background: url('../img/astrogate_bg.jpg') no-repeat center center;}
    
        .blightworld{background: url('../img/blightworld_bg_blur.jpg') no-repeat center center;}
        .blightworld:hover{background: url('../img/blightworld_bg.jpg') no-repeat center center;}
    
        .eraflux{background: url('../img/eraflux_bg_blur.jpg') no-repeat center center;}
        .eraflux:hover{background: url('../img/eraflux_bg.jpg') no-repeat center center;}
    
        .honeytoast{background: url('../img/honeytoast_bg_blur.jpg') no-repeat center center;}
        .honeytoast:hover{background: url('../img/honeytoast_bg.jpg') no-repeat center center;}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1500px) {
    .media-1100{display:none;}
    .logomark{display:none;}


    .bg{transition: all 0.3s ease-out;}

.bg:hover{transform:scale(1.02);transition: all 0.8s ease-out;}

.astrogate{background: url('../img/astrogate_bg_blur.jpg') no-repeat center center;}
.astrogate:hover{background: url('../img/astrogate_bg.jpg') no-repeat center center;}

    .blightworld{background: url('../img/blightworld_bg_blur.jpg') no-repeat center center;}
    .blightworld:hover{background: url('../img/blightworld_bg.jpg') no-repeat center center;}

    .eraflux{background: url('../img/eraflux_bg_blur.jpg') no-repeat center center;}
    .eraflux:hover{background: url('../img/eraflux_bg.jpg') no-repeat center center;}

    .honeytoast{background: url('../img/honeytoast_bg_blur.jpg') no-repeat center center;}
    .honeytoast:hover{background: url('../img/honeytoast_bg.jpg') no-repeat center center;}

}